:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #003C43;
    --cor-de-link: #94d6d0;
    --cor-borda-botao: #135D66;
    --cor-de-fundo-box: #77b0aa;
    --cor-da-borda-e-letra: #E3FEF7;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

button {
    font-family: 'Raleway', sans-serif;
}

/*Sessão Menu*/

section.menu {
    display: flex;
    justify-content: space-between;
    padding: 1% 15% 3% 15%;
}

section.menu header {
    display: flex;
    gap: 10px;
}

h3.menu__title {
    color: var(--cor-da-borda-e-letra);
}

section.menu header img {
    object-fit: contain;
}

ul.menu__list {
    display: flex;
    gap: 25px;
}

/*Sessão Title*/

section.title {
    display: flex;
    padding: 3% 15%;
}

section.title div.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 10px;
}

h2.title__bio {
    font-size: 3rem;
    color: var(--cor-da-borda-e-letra)
}

h3.title__subsection {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--cor-da-borda-e-letra);
}

div.title__div img.title__profile {
    object-fit: contain;
    width: 350px;
    border-radius: 50%;
}

ul.title__network {
    display: flex;
    gap: 20px;
    padding: 0;
}

/*Sessão About*/

section.about {
    display: flex;
    padding: 3% 15%;
    background-color: var(--cor-borda-botao);
}

h3.about__title,
h3.skills__title,
h3.hobbies__title,
h2.experience__section__title,
h2.academic__title,
h2.formcontato__title {
    font-size: 2rem;
    text-align: center;
    color: var(--cor-da-borda-e-letra);
}

p.about__paragraph {
    color: var(--cor-da-borda-e-letra);
}

/*Sessão skills*/

section.skills {
    display: flex;
    flex-direction: column;
    padding: 3% 15%;
}

div.skills__line,
div.hobbies__line {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

div.skills__line> :nth-child(7),
div.skills__line> :nth-child(8) div.hobbies__line> :nth-child(7),
div.hobbies__line> :nth-child(8) {
    grid-column-start: 3;
    grid-column-end: 4;
}

div.skills__box,
div.hobbies__box {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: end;
    width: 200px;
    height: 100px;
    background-color: var(--cor-de-fundo-box);
    border-radius: 10px;
}

div.skills__box ul,
div.hobbies__box ul,
div.academic__courses__box ul {
    padding: 0;
}

li.skills__img,
li.hobbies__img,
li.academic__courses__item__img {
    text-align: center;
}

/*Sessão Hobbies*/

section.hobbies {
    display: flex;
    flex-direction: column;
    padding: 3% 15%;
}

/* Experiência Acadêmica*/

section.academic {
    display: flex;
    flex-direction: column;
    padding: 3% 15.7% 3% 15%;
    background-color: var(--cor-borda-botao);
}

div.academic__courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

div.academic__courses__box {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2%;
    background-color: var(--cor-de-fundo-box);
    border-radius: 10px;
}

li.academic__courses__item__img img {
    width: 100px;
    object-fit: contain;
}

li.academic__courses__item__title,
li.academic__courses__item__subtitle {
    text-align: center;
}

/* experiência*/

section.experience {
    display: flex;
    flex-direction: column;
    padding: 3% 15.7% 3% 15%;
    gap: 20px;
}

div.experiencie__box {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 2%;
    background-color: var(--cor-de-fundo-box);
    border-radius: 20px;
}

div.experiencie__box img {
    width: 70%;
    object-fit: contain;
    border-radius: 10px;
}

h3.experience__text {
    font-weight: 500;
}

button.experiencia__botao--repo {
    padding: 15px;
    width: 100px;
    background-color: transparent;
    border: 2px solid var(--cor-borda-botao);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

button.experiencia__botao--repo:hover {
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-borda-e-letra);
}

button.experiencia__botao--demo {
    padding: 15px;
    width: 100px;
    background-color: var(--cor-de-fundo);
    border: 2px solid var(--cor-borda-botao);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color .3s ease;
}

button.experiencia__botao--demo:hover {
    background-color: var(--cor-de-fundo-box);
    color: var(--cor-de-fundo);
}


/*Contato*/

section.formcontato {
    display: flex;
    flex-direction: column;
    padding: 3% 15%;
    background-color: var(--cor-borda-botao);
}

div.formcontato__contacto {
    display: flex;
}

img.formcontato__img {
    object-fit: contain;
    width: 80%;
    border-radius: 2%;
}

div.formcontato__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 1% 0 0;
}

h2.formcontato__title {
    text-align: start;
}

h3.formcontato__subtext{
    font-size: 1rem;
    margin: 2px 0;
    font-weight: 400;
    color: var(--cor-da-borda-e-letra);
}

form.formcontato__form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
}

div.form__item {
    position: relative;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

input.formcontato__input {
    position: absolute;
    width: 100%;
    outline: none;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid var(--cor-da-borda-e-letra);
    color: var(--cor-da-borda-e-letra);
    background-color: transparent;
    transition: .1s ease;
    z-index: 1111;
}

input.formcontato__input:-internal-autofill-selected {
    border: 2px solid var(--cor-da-borda-e-letra);
    background-color: transparent !important;
}

textarea.formcontato__textarea {
    position: absolute;
    width: 100%;
    outline: none;
    padding: 10px 30px;
    line-height: 20px;
    border-radius: 10px;
    border: 2px solid var(--cor-da-borda-e-letra);
    color: var(--cor-da-borda-e-letra);
    background-color: transparent;
    transition: .1s ease;
    z-index: 1111;
    resize: none;
}

div.formcontato__text_input {
    position: absolute;
    padding: 0 20px;
    margin: 0 15px;
    transition: .2s ease;
    color: var(--cor-da-borda-e-letra);
    background-color: var(--cor-borda-botao);
}

input.formcontato__input:focus, textarea.formcontato__textarea:focus {
    outline-color: var(--cor-da-borda-e-letra);
}

input.formcontato__input:focus + div.formcontato__text_input,
input.formcontato__input:valid + div.formcontato__text_input, 
textarea.formcontato__textarea:focus + div.formcontato__text_input,
textarea.formcontato__textarea:valid + div.formcontato__text_input {
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
    color: var(--cor-da-borda-e-letra);
}

button.formcontato__botao {
    padding: 12px;
    width: 60%;
    background-color: var(--cor-de-fundo-box);
    border: 2px solid var(--cor-da-borda-e-letra);
    border-radius: 5px;
    cursor: pointer;
    margin: 72px 0 0 25%;
    transition: background-color .3s ease;
}

button.formcontato__botao:hover {
    background-color: var(--cor-borda-botao);
    color: var(--cor-da-borda-e-letra);
}

/*footeer*/

section.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo-box );
}

div.footer__rodape p {
    text-align: center;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

    /* Menu */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sessão sobre*/

    /*Skills*/

    /*Hobbies*/

    /*Formação Acadêmica*/

    /*Experiência Profissional*/

    /*Contato*/

    /*Footer*/

}